rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    match /users/{userId} {
      // Users can read and update their own profile.
      // Users can create their own profile upon registration.
      allow read, update, create: if isSignedIn() && request.auth.uid == userId;
    }

    // Rules for subcollections
    match /users/{userId}/{collection}/{docId} {
      // Any user can read/write to their own subcollections.
      allow read, write: if isSignedIn() && request.auth.uid == userId;
    }
  }
}
