@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 207 88% 94%;
    --foreground: 210 25% 25%;
    --card: 207 88% 98%;
    --card-foreground: 210 25% 25%;
    --popover: 207 88% 98%;
    --popover-foreground: 210 25% 25%;
    --primary: 207 82% 67%;
    --primary-foreground: 210 25% 15%;
    --secondary: 207 80% 85%;
    --secondary-foreground: 210 25% 25%;
    --muted: 207 80% 90%;
    --muted-foreground: 210 20% 45%;
    --accent: 125 39% 64%;
    --accent-foreground: 210 25% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 207 80% 88%;
    --input: 207 80% 88%;
    --ring: 207 82% 67%;
    --chart-1: 207 82% 67%;
    --chart-2: 125 39% 64%;
    --chart-3: 27 87% 67%;
    --chart-4: 197 37% 24%;
    --chart-5: 43 74% 66%;
    --radius: 0.5rem;
    --sidebar-background: 210 25% 98%;
    --sidebar-foreground: 210 25% 25%;
    --sidebar-border: 207 80% 88%;
    --sidebar-accent: 207 88% 94%;
    --sidebar-accent-foreground: 210 25% 25%;
    --sidebar-ring: 207 82% 67%;
  }

  .dark {
    --background: 210 10% 10%;
    --foreground: 210 40% 98%;
    --card: 210 10% 15%;
    --card-foreground: 210 40% 98%;
    --popover: 210 10% 10%;
    --popover-foreground: 210 40% 98%;
    --primary: 207 82% 67%;
    --primary-foreground: 210 25% 15%;
    --secondary: 210 10% 25%;
    --secondary-foreground: 210 40% 98%;
    --muted: 210 10% 20%;
    --muted-foreground: 210 40% 70%;
    --accent: 125 39% 64%;
    --accent-foreground: 210 25% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 10% 25%;
    --input: 210 10% 25%;
    --ring: 207 82% 67%;
    --chart-1: 207 82% 67%;
    --chart-2: 125 39% 64%;
    --chart-3: 27 87% 67%;
    --chart-4: 197 37% 24%;
    --chart-5: 43 74% 66%;
    --sidebar-background: 210 10% 10%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-border: 210 10% 25%;
    --sidebar-accent: 210 10% 20%;
    --sidebar-accent-foreground: 210 40% 98%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
